<launch>

   <node pkg="ur_robot_driver" type="angularlearning5.py" name="robot_end_effector_controller" output="screen"></node>
   <node pkg="ur_robot_driver" type="forcelearning5.py" name="haptic_force_controller" output="screen"></node>
   <node pkg="ur_robot_driver" type="camera_nod2_test1.py" name="camera_client_node" output="screen"></node>
   
</launch>