<launch>

   <node pkg="ur_robot_driver" type="TDPA2port_learning1.py" name="slave" output="screen"></node>
   <node pkg="ur_robot_driver" type="TDPA2port_learning1_pose.py" name="slave_pose" output="screen"></node>
   <node pkg="ur_robot_driver" type="TDPA2port_learning1_force.py" name="slave_force" output="screen"></node>
 
</launch> 