<launch>

   <node pkg="ur_robot_driver" type="version0_pose.py" name="robot_end_effector_controller" output="screen"></node>
   <node pkg="ur_robot_driver" type="version0_force.py" name="haptic_force_controller" output="screen"></node>
   <node pkg="ur_robot_driver" type="goprocamera.py" name="camera" output="screen"></node>
</launch> 
