<launch>

   <node pkg="ur_robot_driver" type="sh_pose.py" name="robot_end_effector_controller" output="screen"></node>
   <node pkg="ur_robot_driver" type="version0_force.py" name="haptic_force_controller" output="screen"></node>
   <node pkg="ur_robot_driver" type="camera_nod2_test1.py" name="camera" output="screen"></node>
</launch> 
